﻿@model ELearningPlatform.Models.ViewModels.BoolQuestionViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Course Create Data
            </div>
            <div class="panel-body">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label col-md-2">Question</label>
                        <div class="col-md-10">
                            @Html.DropDownList("QuestionId", Model.Questions, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Answer)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-2 col-nd-12">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}