﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.BoolQuestionViewModel>

<p>
    @Html.ActionLink("Create New", "BoolQuestionsCreate")
</p>
<table class="table">
    <tr>
        <th>
            Question
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.ActionLink("Edit", "BoolQuestionsEdit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "BoolQuestionsDelete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
