﻿@{
    int errors = ViewData.ModelState.Values.SelectMany(v => v.Errors).Count();
    string showSucces = string.Empty;
    if (ViewBag.Succes != null)
    {
        showSucces = ViewBag.Succes == true ? string.Empty : "display:none";
    }
}
@if (@errors != 0)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        @foreach (string key in ViewData.ModelState.Keys)
        {
            foreach (var error in ViewData.ModelState[key].Errors)
            {
                if (!String.IsNullOrEmpty(@error.ErrorMessage))
                {
                    <div id="model-error" class="error" style="padding-left: 8%">
                        @error.ErrorMessage
                    </div>
                }
            }
        }
    </div>
}

<div class="alert alert-success alert-dismissable" style="@showSucces">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    Data has been saved
</div>
