﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReNew Home Project Planner</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/LayoutStyles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        ReNew = {};
    </script>
</head>
<body>
    @if (ViewBag.SkipLayout == null)
    {
        ViewBag.SkipLayout = false;
    }
    @if (!ViewBag.SkipLayout)
    {
        @Html.Partial("_HeaderAndNavigation")
        <div id="wrapper">
            <div id="page-wrapper">
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/LayoutScripts")

</body>
</html>
