﻿@model ReNew.Models.View_Models.ProductsViewModel


@{
    var parentID = ViewBag.ParentID;
    var innerCollapseId = Guid.NewGuid().ToString();
    var mainProduct = string.Empty;
    if (parentID == "accordion")
    {
        mainProduct = "mainProduct";
    }
}

<div class="panel panel-default @mainProduct" productId="@Model.ID">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#@parentID" href="#@innerCollapseId">@Model.Name</a>
            <div class="pull-right priceAndQuantity">
                <span>Quantity</span>
                <span class="product-quantity" value="@Model.Quantity"> @Model.Quantity</span>
                <span>Price</span>
                <span class="product-price" value="@Model.Price"> @Model.Price</span>
                @if (!string.IsNullOrEmpty(mainProduct))
                {
                    <div class="removeRow ">Remove Product</div>
                }
            </div>
        </h4>
    </div>
    <div id="@innerCollapseId" class="panel-collapse collapse">
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

            </dl>

            <div class="panel panel-default">
                @{ var instalationSteps = Guid.NewGuid().ToString();}
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#@innerCollapseId" href="#@instalationSteps">Installation Steps</a>
                    </h4>
                </div>
                <div id="@instalationSteps" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive table-bordered">
                            <table class="table">
                                <tr>
                                    <th>
                                       Step Order
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                      Description
                                    </th>

                                </tr>
                                @foreach (var step in Model.InstallationSteps)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => step.StepOrder)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => step.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => step.Description)
                                        </td>

                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>


            @foreach (var additionalItem in Model.AdditionalProducts)
            {
                ViewBag.ParentID = @innerCollapseId;
                Html.RenderPartial("_ProductPartial", additionalItem);
            }
        </div>
    </div>
</div>