﻿
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <!--Admin menus-->
            @if (ViewBag.CurrentRole == "Admin")
            {
                <li>
                    <a href="#"><i class="fa fa-users"></i> User Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Users", "UsersIndex", "UsersManagement")
                        </li>
                        <li>
                            @Html.ActionLink("Roles", "RolesIndex", "RolesManagement")
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Product Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Products", "ProductsIndex", "Products")
                        </li>

                        <li>
                            @Html.ActionLink("Projects", "ProjectsIndex", "Projects")
                        </li>
                        <li>
                            @Html.ActionLink("Steps ", "StepsIndex", "Steps")
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Other Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Unit of measure", "UnitOfMeasuresIndex", "UnitOfMeasures")
                        </li>
                    </ul>
                </li>
            }

            <!--User menus-->
            @if (ViewBag.CurrentRole == "User")
            {
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Product Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Products", "ProductsIndex", "Products")
                        </li>

                        <li>
                            @Html.ActionLink("Projects", "ProjectsIndex", "Projects")
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>
