/*table.GeneratedTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #336600;
  border-style: solid;
  color: #000000;
}
table.GeneratedTable td, table.GeneratedTable th {
  border-width: 1px;
  border-color: #336600;
  border-style: solid;
  padding: 3px;
}
table.GeneratedTable thead {
  background-color: #3300FF;
}
table.GeneratedTable tfoot{
  background-color: yellow;
}*/
table.GeneratedTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #336600;
  border-style: solid;
  color: #000000;
}
table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 1px;
  border-color: #336600;
  border-style: solid;
  padding: 3px;
}
table.GeneratedTable thead {
  background-color: #3300FF;
}
table.GeneratedTable tfoot {
  background-color: yellow;
}
