﻿@model IEnumerable<ReNew.Models.View_Models.RoleViewModel>
<a href="@Url.Action("RoleCreate")">
    <div class="btn btn-default createNew">
        Create New Role
    </div>
</a>
<div class="table-responsive table-bordered">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "RoleEdit", new { id = item.Id, @class = "btn btn-default" }) |
                    @Html.ActionLink("Delete", "RoleDelete", new { id = item.Id, @class = "btn btn-default" })
                </td>
            </tr>
        }

    </table>
</div>