﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.QuestionTypeViewModel>

<p>
    @Html.ActionLink("Create New", "QuestionTypesCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "QuestionTypesEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "QuestionTypesDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
