﻿@model ELearningPlatform.Models.ViewModels.QuestionTypeViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Question Type Create Data
            </div>
            <div class="panel-body">
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="col-md-offset-2 col-nd-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

