﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.DiscussionParticipantsViewModel>

<p>
    @Html.ActionLink("Create New", "DiscussionParticipantsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiscussionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiscussionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "DiscussionParticipantsEdit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DiscussionParticipantsDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
