// out: style.css, sourcemap: true, compress: false
main {
  margin: auto;
  width: 60%;
  height: auto;
  .picture {
    width: 80%;
    height: 66%;
    background-color: gainsboro;
    float: right;
    img {
      width: 90%;
      height: 90%;
      margin-left: 5%;
    }
    #image-no {
      float: left;
      font-size: 35px;
      width: 90%;
    }
  }
  .settings {
    position: relative;
    margin: auto;
    background-color: grey;
    float: left;
    height: 66%;
    width: 20%;
    button {
      width: 100%;
      height: 10%;
    }
    #start-btn {
      margin-top: 50px;
      margin-bottom: 10px;
    }
    #pause-btn {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #reset-btn {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .auto-slide-wrapper {
      width: 100%;
      height: 6%;
      background-color: whitesmoke;
      font-size: 20px;
    }
    .slidetime-wrapper {
      width: 100%;
      height: 12%;
      background-color: whitesmoke;
      font-size: 17px;
      margin-top: 30px;
      input {
        width: 100%;
      }
    }
    #status {
      width: 100%;
      background-color: red;
      position: absolute;
      text-align: center;
      font-size: 29px;
    }
  }
}
