main {
  margin: auto;
  width: 60%;
  height: auto;
}
main .picture {
  width: 80%;
  height: 66%;
  background-color: gainsboro;
  float: right;
}
main .picture img {
  width: 90%;
  height: 90%;
  margin-left: 5%;
}
main .picture #image-no {
  float: left;
  font-size: 35px;
  width: 90%;
}
main .settings {
  position: relative;
  margin: auto;
  background-color: grey;
  float: left;
  height: 66%;
  width: 20%;
}
main .settings button {
  width: 100%;
  height: 10%;
}
main .settings #start-btn {
  margin-top: 50px;
  margin-bottom: 10px;
}
main .settings #pause-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
main .settings #reset-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
main .settings .auto-slide-wrapper {
  width: 100%;
  height: 6%;
  background-color: whitesmoke;
  font-size: 20px;
}
main .settings .slidetime-wrapper {
  width: 100%;
  height: 12%;
  background-color: whitesmoke;
  font-size: 17px;
  margin-top: 30px;
}
main .settings .slidetime-wrapper input {
  width: 100%;
}
main .settings #status {
  width: 100%;
  background-color: red;
  position: absolute;
  text-align: center;
  font-size: 29px;
}
