.recipes-wrapper {
  width: 80%;
  margin: auto;
  background-color: grey;
}
.recipe {
  margin-bottom: 10px;
  border: 1px solid black;
  position: relative;
  display: inline-block;
  width: 100%;
}
.recipe img {
  float: left;
}
.ingredients {
  margin-left: 10px;
  float: left;
  width: 38%;
  background-color: yellow;
  height: 37%;
}
.ingredients .ingredient {
  margin-bottom: 15px;
  margin-left: 5px;
}
.steps {
  width: 38%;
  width: 37%;
  float: right;
  background-color: white;
  height: 37%;
}
.steps .step {
  margin-bottom: 15px;
  margin-left: 5px;
}
