﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.GradeSchemaViewModel>
<a href="@Url.Action("GradeSchemasCreate", "GradeSchemasManagement")" target="_blank">
    <div class="btn btn-default createNew">
        Create New Grade Schemas
    </div>
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "GradeSchemasEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "GradeSchemasDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
