﻿@model ApprovalModule.Models.ViewModels.BoardViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Owner)
    @Html.HiddenFor(m => m.CurrentReviewer.Id)
    @Html.HiddenFor(m => m.CurrentReviewer.UserId)
    @Html.Partial("_ErrorHandling")
    <div>
        <h4>Review Board</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BoardContent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BoardContent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentReviewRole)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentReviewRole)
            </dd>
            @if (ViewBag.CurrentRole == "Architect" || ViewBag.CurrentRole == "Lead")
            {
                <dl class="dl-horizontal">
                    <dt>
                        Status
                    </dt>
                    @Html.HiddenFor(x => x.CurrentReviewer.ReviewStatus)
                    <dd>
                        @Html.DropDownList("ReviewStatus", Model.CurrentReviewer.Status)
                    </dd>
                </dl>
            }
        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default"/>
        </div>
    </div>
}