﻿@model IEnumerable<ApprovalModule.Models.ViewModels.BoardViewModel>

@{
    ViewBag.Title = "BoardsIndex";
}

<h2>BoardsIndex</h2>

<p>
    @Html.ActionLink("Create New", "BoardsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "BoardsEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "BoardsDelete", new { id=item.Id })
            @Html.ActionLink("Review", "BoardsReview", new { id=item.Id })
        </td>
    </tr>
}

</table>
