﻿@model ELearningPlatform.Models.ViewModels.StaffToDepartamentViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Department Data
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.HiddenFor(m => m.DepartmentId)
                    @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.DepartmentName, new { @class = "form-control col-md-3" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TeacherName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.UniversityStaffId, Model.Teachers, new { @class = "form-control" })
                    </div>
                </div>


            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
           Department staff
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TeacherName)
                    </th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model.UniversityStaff)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Value, departmentId = @Model.DepartmentId })
                        </td>
                    </tr>
                }

            </table>

        </div>

    </div>
</div>