﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.StaffToDepartamentViewModel>

<p>
    @Html.ActionLink("Create New", "StaffToDepartamentsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UniversityStaffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UniversityStaffId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "StaffToDepartamentsEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "StaffToDepartamentsDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
