html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}
.leftContent {
  float: left;
  width: 14%;
  position: relative;
  top: 75px;
  border: #C5C5C5 1px solid;
  height: auto;
  padding-top: 10px;
}
.left-column-nav {
  list-style-type: none;
}
.nav-filter {
  color: #1d1da3;
  margin-bottom: 2px;
  font-size: medium;
}
.rightContent {
  float: right;
  width: 35%;
  position: relative;
  border: 1px solid grey;
  top: 75px;
}
nav {
  background-color: #2d1152;
  font-size: medium;
  padding-left: 7px;
  height: 23px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5f5f5f;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 22.1px;
  text-align: start;
  white-space: nowrap;
}
nav a {
  margin-right: 10px;
}
nav a:hover {
  background-color: red;
  content: "LINK";
}
main {
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}
.centerContent {
  margin-top: 75px;
  margin: 5px 0;
  position: relative;
  display: inline-block;
  width: 48%;
  margin-left: 10px;
  margin-right: 10px;
}
.centerContent article {
  border-bottom: 1px solid grey;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
}
.centerContent article section {
  float: right;
  position: relative;
  width: 83%;
  padding-bottom: 15px;
}
.centerContent article section h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.centerContent article section span {
  font-size: medium;
}
.search-wrapper {
  height: 50px;
  border-bottom: 1px solid blue;
}
.search-wrapper a {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 30%;
}
.search-wrapper input {
  float: left;
  margin-right: 20px;
  width: 340px;
  margin-top: 10px;
}
.search-wrapper button {
  margin-top: 10px;
  background-color: blue;
}
