﻿html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}


.leftContent {
    float: left;
    width: 14%;
    position: relative;
    top: 75px;
    border: #C5C5C5 1px solid;
    height: auto;
    padding-top: 10px;
}

.left-column-nav {
    list-style-type: none;
}

.nav-filter {
    color: #1d1da3;
    margin-bottom: 2px;
    font-size: medium;
}
.rightContent {
    float: right;
    width: 35%;
    position: relative;
    border: 1px solid grey;
    top: 75px;
}

nav {
    background-color: #2d1152;
    font-size: medium;
    padding-left: 7px;
    height: 23px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(95, 95, 95);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 22.1px;
    text-align: start;
    white-space: nowrap;

    a {
        margin-right: 10px;
        &:hover{
            background-color:red;
            content: "links";  
        }
    }
}


main {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.centerContent {
    margin-top: 75px;
    margin: 5px 0;
    position: relative;
    display: inline-block;
    width: 48%;
    margin-left: 10px;
    margin-right: 10px;

    article {
        border-bottom: 1px solid grey;
        float: right;
        padding-top: 10px;
        padding-left: 10px;

        section {
            float: right;
            position: relative;
            width: 83%;
            padding-bottom: 15px;

            h4 {
                margin-top: 0px;
                margin-bottom: 5px;
            }

            span {
                font-size: medium;
            }
        }
    }
}

.search-wrapper {
    height: 50px;
    border-bottom: 1px solid blue;

    a {
        float: left;
        margin-right: 20px;
        margin-top: 10px;
        margin-left: 30%;
    }

    input {
        float: left;
        margin-right: 20px;
        width: 340px;
        margin-top: 10px;
    }

    button {
        margin-top: 10px;
        background-color: blue;
    }
}
