html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}


.leftContent {
    float: left;
    width: 14%;
    position: relative;
    top: 100px;
    border: #C5C5C5 1px solid;
    height: auto;
    padding-top: 10px;
}

.left-column-nav {
    list-style-type: none;
}

.nav-filter {
    color: #1d1da3;
    margin-bottom: 2px;
    font-size: medium;
}

.centerContent {
    margin: 5px 0;
    position: relative;
    display: inline-block;
    width: 48%;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid grey;
}

.rightContent {
    float: right;
    width: 35%;
    position: relative;
    border: 1px solid grey;
    top: 100px;
}

nav {
    background-color: #2d1152;
    font-size: medium;
    padding-left: 7px;
    height: 23px;
}

    nav a {
        margin-right: 10px;
    }

main {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.centerContent article {
    border-bottom: 1px solid grey;
    float: right;
    padding-top: 10px;
    padding-left: 10px;
}

    .centerContent article section {
        float: right;
        position: relative;
        width: 83%;
        padding-bottom: 15px;
    }

        .centerContent article section h4 {
            margin-top: 0px;
            margin-bottom: 5px;
        }

        .centerContent article section span {
            font-size: medium;
        }
