﻿@model ELearningPlatform.Models.ViewModels.SyllabusViewModel

<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CourseName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CourseName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SyllabusContent)
                </dt>

                <dd>
                    @Html.Raw(@Server.HtmlDecode(Model.SyllabusContent))
                </dd>
            </dl>
        </div>
    </div>
</div>