﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.SyllabusViewModel>

@if (ViewBag.CurrentRole == "Admin")
{
    <a href="@Url.Action("SyllabusCreate")">
        <div class="btn btn-default createNew">
            Create New Syllabus
        </div>
    </a>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Course Name
        </th>
       
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "SyllabusEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "SyllabusDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
