﻿@model ELearningPlatform.Models.ViewModels.SyllabusViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create Syllabus
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>

                @if (ViewBag.CurrentRole == "Admin")
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Courses, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CourseId", Model.Courses, new { @class = "form-control" })
                        </div>
                    </div>
                }
                else
                {
                    Html.HiddenFor(m => m.CourseId);
                    <div class="form-group">
                        @Html.LabelFor(model => model.CourseName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Label(Model.CourseName, new { @class = "form-control col-md-3" })
                        </div>
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.SyllabusContent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SyllabusContent, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    jQuery(document).ready(function() {
        tinymce.init({
            selector: '#SyllabusContent',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
        });
    });
</script>