﻿@model ELearningPlatform.Models.ViewModels.PageSectionViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Page Section Create Data
            </div>
            <div class="panel-body">
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Section Content</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SectionContent, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-2 col-nd-12">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
