﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.PageSectionViewModel>

<p>
    @Html.ActionLink("Create New", "PageSectionsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Section Content
        </th>
        <th>
            Page
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageId)
        </td>
        <td>
            @Html.ActionLink("Edit", "PageSectionsEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "PageSectionsDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
