body {
  font-family: helvetica;
  font-size: 18px;
  text-align: center;
}
.content {
  text-align: left;
  width: 69%;
  background-color: #c3c3c3;
  position: fixed;
  /*margin-left: 15%;*/
}
.accordion {
  display: inline-block;
  text-align: left;
  width: 100%;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.accordion:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.accordion:hover .accordion-content {
  max-height: 1000px;
}
.accordion-content {
  -webkit-transition: max-height 10s;
  -moz-transition: max-height 10s;
  -ms-transition: max-height 10s;
  -o-transition: max-height 10s;
  transition: max-height 10s;
  overflow: hidden;
  max-height: 0;
  height: 1000px;
  background: -webkit-linear-gradient(blue, #7db9e8);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, #7db9e8);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, #7db9e8);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, #7db9e8);
  /* Standard syntax */
}
.accordion-inner {
  padding: 0 15px;
}
.accordion-toggle {
  -webkit-transition: background .10s linear;
  -moz-transition: background .10s linear;
  -ms-transition: background .10s linear;
  -o-transition: background .10s linear;
  transition: background .10s linear;
  background: blue;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 15px;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
