﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.WorkingGroupViewModel>

@if (ViewBag.CurrentRole != "Student")
{
    <p>
        @Html.ActionLink("Create New", "WorkingGroupsCreate")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            @if (ViewBag.CurrentRole != "Student")
            {
                <td>
                    @Html.ActionLink("Edit", "WorkingGroupsEdit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "WorkingGroupsDelete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
