﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.StudentsToWorkingGroupViewModel>

<p>
    @Html.ActionLink("Create New", "StudentsToWorkingGroupsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingGroupId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingGroupId)
        </td>
        <td>
            @Html.ActionLink("Edit", "StudentsToWorkingGroupsEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "StudentsToWorkingGroupsDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
