﻿@import "../Theme/less/sb-admin-2.less";


#page-wrapper {
    padding: 30px !important;
}

.createNew {
    margin-bottom: 10px;
}

.products {
    .product {
        margin-bottom: 2px;
        background-color: chocolate;

        h3 {
            background-color: #AFAFAF;
            font-size: 20px;
            padding-top: 5px;
            padding-left: 10px;
            border-radius: 6px;
        }

        div {
        }
    }
}

#addProductModal {
}

.totalCost {
    float: left;
    font-size: 20px;
}

.totalFooter {
    height: 35px;
}

.openModalBtn {
    float: right;
    margin-right: 20px;
}


.register-panel {
    margin-top: 10%;
}

.products {
    h4 {
        a {
            display: block;
            width: 80%;
            float: left;
        }
    }

    .panel-heading {
        height: 37px;
    }
}

.priceAndQuantity {
    display: inline-flex;
    margin-top: -17px;

    span {
        margin-right: 15px;
    }

    .removeRow {
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }
    }
}
