﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.LectureViewModel>
@Scripts.Render("~/LecturesManagementScripts")
@Scripts.Render("~/LecturesManagementStyles")


@if (ViewBag.CurrentRole == "Admin")
{
    <a href="@Url.Action("LecturesCreate")">
        <div class="btn btn-default createNew">
            Create New Lecture
        </div>
    </a>
}

<table id="lecturesTable" class="table table-striped table-bordered dataTable no-footer">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Course Name</th>
            <th></th>
        </tr>
    </thead>
</table>

<script>
    jQuery(document).ready(function () {
        LecturesManagement.init(true, false,false);
    });
</script>

