﻿@model ELearningPlatform.Models.ViewModels.LectureViewModel

<div>
    <h4>Lecture Details</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
    </dl>
</div>


<div>
    <dl class="dl-horizontal">
        @foreach (var page in Model.Pages)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.ActionLink(page.Name, "PagesDetails", "PagesManagement",new {id=page.Id},null)
            </dd>
        }
    </dl>
</div>
