﻿@model ELearningPlatform.Models.ViewModels.LectureViewModel
@Scripts.Render("~/LecturesManagementScripts")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lecture Create Data
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                @*@if (ViewBag.CurrentRole == "Admin")
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Courses, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CourseId", Model.Courses, new { @class = "form-control" })
                        </div>
                    </div>
                }
                else
                {*@
                    @Html.HiddenFor(m => m.CourseId);
                    <div class="form-group">
                        @Html.LabelFor(model => model.CourseName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Label(Model.CourseName, new { @class = "form-control col-md-3" })
                        </div>
                    </div>
                  @*}*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description,  new { @class = "form-control", @id = "lectureDescription" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        LecturesManagement.init(false, true, true);
    });
</script>
