﻿@model ELearningPlatform.Models.ViewModels.LectureViewModel

<div class="form-horizontal lecturesPages">
    <div class="panel panel-default">
        <div class="panel-heading">
            Lecture Pages
        </div>
        <div class="panel-body">
            <table class="table">

                @foreach (var item in Model.Pages)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "PagesDetails", "PagesManagement", new { id = item.Id }, new { target = "_blank" })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="panel-footer">
            @*<input type="submit" value="Refresh" class="btn btn-default" />*@

            <a href="@Url.Action("PagesCreate","PagesManagement",new {id=Model.Id})" target="_blank">
                <div class="btn btn-default createNew">
                    Add Page
                </div>
            </a>
        </div>
    </div>
</div>

