﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.TestViewModel>

@if (ViewBag.CurrentRole == "Admin")
{
    <a href="@Url.Action("TestsCreate", "TestsManagement")" target="_blank">
        <div class="btn btn-default createNew">
            Create New Test
        </div>
    </a>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Deadline
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadLine)
        </td>

        <td>
            @Html.ActionLink("Edit", "TestsEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "TestsDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
