﻿@model ELearningPlatform.Models.ViewModels.TestViewModel
<link href="~/Content/Styles/DateTimePicker/jquery.datetimepicker.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Test Edit Data
            </div>
            <div class="panel-body">
                <div class="panel-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Start Date</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">End Date</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Deadline Date</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DeadLine, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2">End Date</label>
                        <div class="col-md-10">
                            @Html.DropDownList("CourseId", Model.AvailableCourses, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Content/Scripts/DateTimePicker/jquery.js"></script>
    <script src="~/Content/Scripts/DateTimePicker/jquery.datetimepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#StartDate').datetimepicker({
                timepicker: false
            });
            $('#EndDate').datetimepicker({
                timepicker: false
            });
            $('#DeadLine').datetimepicker({
                timepicker: false
            });
        });
    </script>
}