﻿@using AutoMapper.Internal
@model ELearningPlatform.Models.ViewModels.TestViewModel

<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>@Html.DisplayFor(model => model.Name)</h4>
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayName(Model.StartDate.ToShortDateString())
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @if (Model.EndDate.HasValue)
                {
                    @Html.DisplayName(Model.EndDate.Value.ToShortDateString())
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeadLine)
            </dt>

            <dd>
                @if (Model.DeadLine.HasValue)
                {
                    @Html.DisplayName(Model.DeadLine.Value.ToShortDateString())
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

        </dl>
    </div>
</div>