﻿@Scripts.Render("~/UsersManagementScripts")
@Styles.Render("~/UsersManagementStyles")


<a href="@Url.Action("UserCreate")">
    <div class="btn btn-default createNew">
        Create New User
    </div>
</a>

<a href="@Url.Action("StudentCreate")">
    <div class="btn btn-default createNew">
        Create New Student
    </div>
</a>
<table id="usersTable" class="table table-striped table-bordered dataTable no-footer" width="100%">
    <thead>
    <tr>
        <th>Fullname</th>
        <th>UserName</th>
        <th>Role</th>
        <th>Suspended</th>
        <th>Date Created</th>
        <th>Actions</th>
    </tr>
    </thead>
</table>

<script>
    jQuery(document).ready(function () {
        new ELearningPlatform.UsersManagement();
    });
</script>
