﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.AnnouncementViewModel>
@if (ViewBag.CurrentRole == "Admin")
{
    <a href="@Url.Action("AnnouncementsCreate")">
        <div class="btn btn-default createNew">
            Create New Announcement
        </div>
    </a>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @if (ViewBag.CurrentRole == "Admin")
            {
                <td>
                    @Html.ActionLink("Edit", "AnnouncementsEdit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
