﻿@model ELearningPlatform.Models.ViewModels.AnnouncementViewModel

<div class="form-horizontal">
    <div class="panel panel-info">
        <div class="panel-heading">
            @Model.Name
        </div>
        <div class="panel-body">
            @Html.Raw(Server.HtmlDecode(Model.AnnouncementContent))
        </div>
        <div class="panel-footer">
            <div class="col-md-12" style="height:15px;">
                <div class="pull-left"><span>@Model.DateCreated.ToShortDateString()</span></div>
                <div class="pull-right"><span>@Model.UserName</span></div>
            </div>
        </div>
    </div>
</div>
