﻿@model ELearningPlatform.Models.ViewModels.AnnouncementViewModel
<script src="~/Content/Scripts/ELP.AnnouncementManagement.js"></script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ParentId)
    @Html.HiddenFor(m => m.ParentType)
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Announcement Data
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AnnouncementContent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AnnouncementContent, new { htmlAttributes = new { @class = "form-control", @id = "announcementContent" } })
                    </div>
                </div>
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.UserId)
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        AnnouncementManagement.init(true);
    });

</script>
