﻿@model ELearningPlatform.Models.ViewModels.CommentViewModel

<div class="timeline-panel">
    <div class="timeline-heading">
    </div>
    <div class="timeline-body">
        @Html.Raw(Server.HtmlDecode(Model.CommentContent))
    </div>
    <div class="timeline-footer">
        @Model.UserFullName <h5 class="pull-right">@Model.DateCreated</h5>
    </div>
</div>