﻿@model ELearningPlatform.Models.ViewModels.LectureViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent href="#@Model.Id">@Model.Name</a>
            @if (ViewBag.CurrentRole != "Student" && ViewBag.CourseDetailsPage == null)
            {
                @Html.ActionLink("Edit", "LecturesEdit", "LecturesManagement", new { id = Model.Id }, new { target = "_blank",@class="pull-right"}) 
                @Html.ActionLink("Add Page", "PagesCreate", "PagesManagement", new { id = Model.Id }, new { target = "_blank", @class = "pull-right" ,@style= "margin-right: 15px;" })
           }
        </h4>
    </div>
    <div id="@Model.Id" class="panel-collapse collapse">
        <div class="col-md-12">
            @Html.Raw(Model.Description)
        </div>
        <table class="table">

            @foreach (var item in Model.Pages)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "PagesDetails", "PagesManagement", new { id = item.Id }, new { target = "_blank" })
                    </td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
</div>
