﻿<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            @if (ViewBag.CurrentRole == "Admin")
            {
                <li class="active">
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> User Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Users", "UsersIndex", "UsersManagement")
                        </li>
                        <li>
                            @Html.ActionLink("Roles", "RolesIndex", "RolesManagement")
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Department Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Departments", "DepartmentsIndex", "DepartmentsManagement")
                        </li>
                        @*<li>
                            @Html.ActionLink("Staff To Departments", "StaffToDepartamentsIndex", "StaffToDepartamentsManagement")
                        </li>*@

                    </ul>
                </li>
            }
            @if (ViewBag.CurrentRole != "Student")
            {
                <li>
                    <a href="#"><i class="fa fa-book"></i> Course Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Courses", "CoursesIndex", "CoursesManagement")
                        </li>
@if (ViewBag.CurrentRole == "Admin")
{
                        <li>
                            @Html.ActionLink("Syllabus", "SyllabusIndex", "SyllabusManagement")
                        </li>
}

                        @*<li>
                            @Html.ActionLink("AssignmentsToCourses", "AssignmentsToCoursesIndex", "AssignmentsToCoursesManagement")
                        </li>*@

                        @*<li>
                            @Html.ActionLink("Lectures", "LecturesIndex", "LecturesManagement")
                        </li>*@
                        @if (ViewBag.CurrentRole == "Admin")
                        {
                            <li>
                                @Html.ActionLink("Pages", "PagesIndex", "PagesManagement")
                            </li>

                            @*<li>
                                @Html.ActionLink("PageSections", "PageSectionsIndex", "PageSections")
                            </li>*@
                        }

                    </ul>
                </li>

                @*<li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Assignment Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Assignments", "AssignmentsIndex", "AssignmentsManagement")
                        </li>
                        <li>
                            @Html.ActionLink("Categories", "AssignmentsCategoriesIndex", "AssignmentsCategoriesManagement")
                        </li>
                        @if (ViewBag.CurrentRole == "Admin")
                        {
                            <li>
                                @Html.ActionLink("Settings", "AssignmentsSettingsIndex", "AssignmentsSettingsManagement")
                            </li>
                        }
                    </ul>
                </li>*@

                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Grades Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Grade Schema", "GradeSchemasIndex", "GradeSchemasManagement")
                        </li>
                        <li>
                            @Html.ActionLink("Grade Values", "GradeValuesIndex", "GradeValuesManagement")
                        </li>
                    </ul>
                </li>


                @*<li>
                    <a href="#"><i class="fa fa-graduation-cap"></i> Students Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("WorkingGroups", "WorkingGroupsIndex", "WorkingGroupsManagement")
                        </li>
                        <li>
                            @Html.ActionLink("Enrolled Students To Courses", "EnrolledStudentsToCoursesIndex", "EnrolledStudentsToCourses")
                        </li>
                        <li>
                            @Html.ActionLink("Students To Working Groups", "StudentsToWorkingGroupsIndex", "StudentsToWorkingGroups")
                        </li>

                    </ul>
                </li>*@

                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Tests Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Tests", "TestsIndex", "TestsManagement")
                        </li>
                        @*<li>
                            @Html.ActionLink("Test Settings", "TestSettingsIndex", "TestSettingsManagement")
                        </li>*@
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Discussions Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Discussions", "DiscussionsIndex", "DiscussionsManagement")
                        </li>
                        <li>
                            @Html.ActionLink("Announcements", "AnnouncementsIndex", "AnnouncementsManagement")
                        </li>
                        @*<li>
                            @Html.ActionLink("Comments", "CommentsIndex", "CommentsManagement")
                        </li>*@

                    </ul>
                </li>

                @*<li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> DiscussionParticipants Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("DiscussionParticipants", "DiscussionParticipantsIndex", "DiscussionParticipantsManagement")
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Questions Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Questions", "QuestionsIndex", "QuestionsManagement")
                        </li>
                        <li>
                            @Html.ActionLink("Question Types", "QuestionTypesIndex", "QuestionTypeManagement")
                        </li>
                        <li>
                            @Html.ActionLink("Bool Questions", "BoolQuestionsIndex", "BoolQuestionsManagement")
                        </li>
                        <li>
                            @Html.ActionLink("Questions To Tests", "QuestionsToTestsIndex", "QuestionsToTestsManagement")
                        </li>
                    </ul>
                </li>*@
            }
            @if (ViewBag.CurrentRole == "Student")
            {

                @*<li>
                    @Html.ActionLink("Discussions", "DiscussionsIndex", "DiscussionsManagement")
                </li>*@

                <li>
                    @Html.ActionLink("Courses", "CoursesIndex", "CoursesManagement")
                </li>

                @*<li>
                    @Html.ActionLink("WorkingGroups", "WorkingGroupsIndex", "WorkingGroupsManagement")
                </li>*@

                <li>
                    @Html.ActionLink("Announcements", "AnnouncementsIndex", "AnnouncementsManagement")
                </li>
            }
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->