﻿@model ELearningPlatform.Models.ViewModels.AssignmentViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <link href="~/Content/Styles/DateTimePicker/jquery.datetimepicker.css" rel="stylesheet" />
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)
        <div class="panel panel-default">
            <div class="panel-heading">
                Assignments Edit Data
            </div>
            <div class="panel-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Deadline Date</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DeadlineDate, new { htmlAttributes = new { @class = "form-control", @id = "deadlineDate" } })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Grade Schema</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(s => s.SelectedGradeSchema, new SelectList(Model.AvailableGradeSchemas, "Value", "Text"), new { @class = "form-control", @id = "gradeSchema" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Category</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(s => s.SelectedCategory, new SelectList(Model.AvailableCategories, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/Content/Scripts/DateTimePicker/jquery.js"></script>
    <script src="~/Content/Scripts/DateTimePicker/jquery.datetimepicker.js"></script>

}
<script type="text/javascript">
    $(document).ready(function () {
        $('#deadlineDate').datetimepicker();
    });
</script>
