﻿@model Tuple<List<ELearningPlatform.Models.ViewModels.AssignmentViewModel>, List<ELearningPlatform.Models.ViewModels.GradeSchemaViewModel>, List<ELearningPlatform.Models.ViewModels.AssignmentCategoryViewModel>>

<p>
    @Html.ActionLink("Create New", "AssignmentsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Deadline Date")
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayName("Grade Schema")
        </th>
        <th>
            @Html.DisplayName("Assignment Category")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Item1)
    {
        var gradeSchemaName = Model.Item2.FirstOrDefault(x => x.Id == item.GradeSchemaId).Name;
        var assignmentCategoryName = Model.Item3.FirstOrDefault(x => x.Id == item.AssignmentsCategoryId).Name;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadlineDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @gradeSchemaName
            </td>
            <td>
                @assignmentCategoryName
            </td>
            <td>
                @Html.ActionLink("Edit", "AssignmentsEdit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "AssignmentsDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>