﻿@model ELearningPlatform.Models.ViewModels.AssignmentViewModel

@Scripts.Render("~/AssignmentsManagementScripts")
@Styles.Render("~/AssignmentsManagementStyles")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Assignments Create
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Deadline Date</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DeadlineDate, new { htmlAttributes = new { @class = "form-control", @id = "deadlineDate" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Grade Schema</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(s => s.SelectedGradeSchema, new SelectList(Model.AvailableGradeSchemas, "Value", "Text"), new { @class = "form-control", @id = "gradeSchema" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Category</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(s => s.SelectedCategory, new SelectList(Model.AvailableCategories, "Value", "Text"), new { @class = "form-control", @id = "availableCategories" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        AssignmentsManagement.init();
    });
</script>
