﻿@model Tuple<List<ELearningPlatform.Models.ViewModels.AssignmentSettingViewModel>, List<ELearningPlatform.Models.ViewModels.AssignmentViewModel>>

<p>
    @Html.ActionLink("Create New", "AssignmentsSettingsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Assignment")
        </th>
        <th>
            @Html.DisplayName("Physical Delivery")
        </th>
        <th>
            @Html.DisplayName("No Delivery")
        </th>
        <th>
            @Html.DisplayName("Upload File")
        </th>
        <th>
            @Html.DisplayName("With Link")
        </th>
        <th>
            @Html.DisplayName("With Text")
        </th>
        <th>
            @Html.DisplayName("Group Assignment")
        </th>
        <th>
            @Html.DisplayName("Start Date")
        </th>
        <th>
            @Html.DisplayName("End Date")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Item1)
    {
        var assignmentName = Model.Item2.FirstOrDefault(x => x.Id == item.AssignmentId).Name;
        <tr>
            <td>
                @assignmentName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhisicalDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupAssignment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "AssignmentsSettingsEdit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "AssignmentsSettingsDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
