﻿@model ELearningPlatform.Models.ViewModels.AssignmentSettingViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <link href="~/Content/Styles/DateTimePicker/jquery.datetimepicker.css" rel="stylesheet" />
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                AssignmentsSettings Create Data
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-md-2">Assignment</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(s => s.SelectedAssignment, new SelectList(Model.AvailableAssignments, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Physical Delivery</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.PhisicalDelivery)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">No Delivery</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NoDelivery)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Upload File</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UploadFile)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">With Link</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WithLink)

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">With Text</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WithText)

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Group Assignment</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GroupAssignment)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Start Date</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @id = "start-date" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">End Date</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @id = "end-date" } })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        </div>
        }

 
        @section Scripts{
            <script src="~/Content/Scripts/DateTimePicker/jquery.js"></script>
            <script src="~/Content/Scripts/DateTimePicker/jquery.datetimepicker.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#start-date').datetimepicker();
                    $('#end-date').datetimepicker();
                });
            </script>
        }
