﻿@model ELearningPlatform.Models.ViewModels.DiscussionViewModel
@Scripts.Render("~/DiscussionsManagementScripts")

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.DisplayFor(model => Model.Name)
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt>
                Grade
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SchemaValue)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Comments
    </div>
    <div class="panel-body">
        <ul class="timeline">
            @for (int index = 0; index < Model.Comments.Count; index++)
            {
                var inverted = index % 2 != 0 ? "timeline-inverted" : string.Empty;
                var comment = Model.Comments[index];
                <li class="@inverted">
                    @Html.Partial("_DiscussionComment", @comment)
                </li>
            }
        </ul>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Comment
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.EditorFor(model => model.Comment.CommentContent, new { htmlAttributes = new { @class = "form-control", @id = "commentContent" } })
            </div>

        </div>
        <div class="panel-footer">
            <div class="col-md-offset-2 col-nd-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        DiscussionsManagement.init(true, false);
    });
</script>