﻿@model ELearningPlatform.Models.ViewModels.DiscussionViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    @Html.HiddenFor(m=>m.ParentId)
    @Html.HiddenFor(m=>m.ParentType)
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Discussion Data
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Subject, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Subject, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Grade Schema", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("GradeSchemaId", Model.GradeSchemas, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Grade Value", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("GradeValueId", Model.GradeValues, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}



