﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.DiscussionViewModel>

@if (ViewBag.CurrentRole == "Admin")
{
    <a href="@Url.Action("DiscussionsCreate")">
        <div class="btn btn-default createNew">
            Create New Discussion
        </div>
    </a>
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Subject
        </th>
        <th>
            Grade Schema Name
        </th>
        <th>
            Grade Value
        </th>
        @if (ViewBag.CurrentRole != "Student")
        {
            <th>Actions</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "DiscussionsDetails", "DiscussionsManagement", new { id = item.Id }, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemaValue)
            </td>

            @if (ViewBag.CurrentRole != "Student")
            {
                <td>
                    @Html.ActionLink("Edit", "DiscussionsEdit", "DiscussionsManagement", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "DiscussionsDelete", "DiscussionsManagement", new { id = item.Id }, null)
                </td>
            }
        </tr>
    }
</table>
