﻿@model Tuple<List<ELearningPlatform.Models.ViewModels.GradeValueViewModel>, List<ELearningPlatform.Models.ViewModels.GradeSchemaViewModel>>

<a href="@Url.Action("GradeValuesCreate", "GradeValuesManagement")" target="_blank">
    <div class="btn btn-default createNew">
        Create New Grade Value
    </div>
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Grade")
        </th>
        <th>
            @Html.DisplayName("Grade Schema")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Item1)
    {
        var gradeSchemaName = Model.Item2.FirstOrDefault(x => x.Id == item.GradeSchemaId).Name;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @gradeSchemaName
                </td>
                <td>
                    @Html.ActionLink("Edit", "GradeValuesEdit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "GradeValuesDelete", new { id = item.Id })
                </td>
            </tr>
    }

</table>
