﻿@model ELearningPlatform.Models.ViewModels.GradeValueViewModel
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Student Data
            </div>
            <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Grade Schema</label>
            <div class="col-md-10">
                <!--TODO dropdown-->
                @Html.DropDownListFor(s => s.SelectedGradeSchema, new SelectList(Model.AvailableGradeSchemas, "Value", "Text"), new {  @class = "form-control"})
                @Html.ValidationMessageFor(model => model.GradeSchemaId, "", new { @class = "text-danger" })
            </div>
        </div>

            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    </div>
}
