﻿@model IEnumerable<ReNew.Models.View_Models.ProjectViewModel>
<a href="@Url.Action("ProjectsCreate")">
    <div class="btn btn-default createNew">
        Create New Project
    </div>
</a>
<div class="table-responsive table-bordered">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "ProjectsEdit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "ProjectsDelete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>