﻿@model ReNew.Models.View_Models.ProjectViewModel
@Scripts.Render("~/Projects")
@using (Html.BeginForm("ProjectsCreate", "Projects", FormMethod.Post, new { @class = "project-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.ProductsQuantityToProject)
        <div class="panel panel-default">
            <div class="panel-heading">
                Create Project
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Products
            </div>
            <div class="panel-body">
                <div class="panel-group products" id="accordion">
                    @foreach (var product in Model.ProductsToProject)
                    {
                        ViewBag.ParentID = "accordion";
                        Html.RenderPartial("_ProductPartial", product);
                    }
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-nd-12 totalFooter">
                    <div class="totalCost">
                        <span>Total Cost: </span>
                    </div>
                    <input type="submit" value="Save" class="btn btn-default pull-right"/>
                    <button type="button" class="btn btn-default openModalBtn" data-toggle="modal" data-target="#addProductModal">Add product</button>
                </div>
            </div>
        </div>

        <div id="addProductModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Product</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.Label("Products", new {@class = "control-label col-md-4"})
                            <div class="col-md-5">
                                @Html.DropDownList("Products", new SelectList(Model.AllProducts, "Value", "Text"), new {@class = "form-control"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Quantity", new {@class = "control-label col-md-4"})
                            <div class="col-md-5">
                                @Html.TextBox("Quantity", null, new {@class = "form-control", type = "number", min = "0"})
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="modelAddProduct btn btn-default" type="button" data-dismiss="modal">Add</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<script>
    jQuery(document).ready(function () {
        new ReNew.Projects();
    });
</script>
