﻿@model ELearningPlatform.Models.ViewModels.AssignmentsToCoursesViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Assignments To Course Create Data
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-md-2">Course</label>
                    <div class="col-md-10">
                        @Html.DropDownList("CourseId", Model.Courses, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Assignment</label>
                    <div class="col-md-10">
                        @Html.DropDownList("AssignmentId", Model.Assignments, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

