﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.AssignmentsToCoursesViewModel>

<p>
    @Html.ActionLink("Create New", "AssignmentsToCoursesCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignmentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "AssignmentsToCoursesEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "AssignmentsToCoursesDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
