﻿@model ELearningPlatform.Models.ViewModels.QuestionsToTestsViewModel

@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Questions to Tests Create Data
            </div>
            <div class="panel-body">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label col-md-2">Test</label>
                        <div class="col-md-10">
                            @Html.DropDownList("TestId", Model.Tests, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Question</label>
                        <div class="col-md-10">
                            @Html.DropDownList("QuestionId", Model.Questions, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}