﻿.addBookWrapper,
.editBookWrapper {
  background-color: blue;
  width: 48%;
  float: left;
  padding-left: 5px;
}
.addBookWrapper span,
.editBookWrapper span {
  text-align: center;
  display: block;
  width: 110px;
  height: 100%;
  margin: 0 auto;
  font-size: 20px;
}
.addBookWrapper input[type="text"],
.editBookWrapper input[type="text"],
.addBookWrapper input[type="number"],
.editBookWrapper input[type="number"] {
  width: 75%;
}
.addBookWrapper input[type="button"],
.editBookWrapper input[type="button"] {
  width: 20%;
  height: 25px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.editBookWrapper {
  background-color: yellow;
  margin-left: 10px ;
}
label {
  display: inline-block;
  width: 130px;
  text-align: left;
}
#booksTable {
  width: 100%;
  border: 1px solid black;
}
#booksTable th,
#booksTable td {
  border: 1px solid black;
}
#booksTable thead {
  background-color: #a2a2b4;
}
#booksTable .idHeader {
  width: 3%;
}
#booksTable .numberOfPagesHeader {
  width: 8%;
}
#booksTable .titleHeader {
  width: 20%;
}
#booksTable .authorHeader {
  width: 20%;
}
.formRow {
  margin-bottom: 5px;
}
.filterWrapper {
  background-color: darkorange;
  width: 48%;
  display: block;
  float: left;
  margin-top: 5px;
  height: 33px;
  padding-left: 3px;
}