﻿@using ELearningPlatform.Models
@model IEnumerable<ELearningPlatform.Models.ViewModels.AnnouncementViewModel>

@foreach (var announcement in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            @announcement.Name
            @*@if (announcement.ParentType == (int) ParentTypes.Course)
            {
                <div class="pull-right">@Html.ActionLink(announcement.ParentName,"CoursesDetails","CoursesManagement",new {id=announcement.ParentId},null)</div>
            }*@
        </div>
        <div class="panel-body">
            @Html.Raw(Server.HtmlDecode(announcement.AnnouncementContent))
        </div>
        <div class="panel-footer">
            <div class="col-md-12" style="height:15px;">
                <div class="pull-left"><span>@announcement.DateCreated.ToShortDateString()</span></div>
                <div class="pull-right"><span>@announcement.UserName</span></div>
            </div>
        </div>
    </div>
}
