﻿@model ELearningPlatform.Models.ViewModels.TestSettingsViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Test Settings Create Data
            </div>
            <div class="panel-body">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label col-md-2">Test</label>
                        <div class="col-md-10">
                            @Html.DropDownList("TestId", Model.Tests, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Random Ordered Questions</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.RandomOrderQuestions)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">TimeLimit</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.TimeLimit)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Time Limit Value</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TimeLimitValue, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Retakable</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.CanRepetTest)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Number of Trials</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NumberOfRepetitions, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Lowest Grade</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.LastGrade)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Highest Grade</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.HigherGrade)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Answers Can Be Seen</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.CanSeeAnswers)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Interval to See Correct Answers</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.GoodAnswersIntervalForSeen)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">One Question at Any Moment</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.OneQuestionAtAnyMoment)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Password Protected</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.TestHasPassword)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Password</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TestPassword, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
