﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.TestSettingsViewModel>

<p>
    @Html.ActionLink("Create New", "TestSettingsCreate")
</p>
<table class="table">
    <tr>
        <th>
            Test
        </th>
        <th>
            Random Ordered Questions
        </th>
        <th>
            Time Limit
        </th>
        <th>
            Time Limit Value
        </th>
        <th>
            Retakable
        </th>
        <th>
            Number of Trials
        </th>
        <th>
            Lowest Grade
        </th>
        <th>
            Highest Grade
        </th>
        <th>
            Answers Can Be Seen
        </th>
        <th>
            Interval to See Correct Answers
        </th>
        <th>
            One Question at Any Moment
        </th>
        <th>
            Password Protected
        </th>
        <th>
            Password
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandomOrderQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLimitValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanRepetTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRepetitions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HigherGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanSeeAnswers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodAnswersIntervalForSeen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneQuestionAtAnyMoment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestHasPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestPassword)
            </td>
            <td>
                @Html.ActionLink("Edit", "TestSettingsEdit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "TestSettingsDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
