﻿@using Newtonsoft.Json
@model ReNew.Models.View_Models.AdditionalItemsToProductViewModel

@Scripts.Render("~/AdditionalItems")
<div class="form-horizontal">
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Additional items for product
            </div>
            <div class="panel-body">
                @Html.HiddenFor(m => m.Product.ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.Name, new { @class = "control-label col-md-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Step", new { @class = "control-label col-md-1" })
                    <div class="col-md-5">
                        @Html.DropDownList("Available Products", new SelectList(Model.AvailableItemsSelectList, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("ItemQuantity", null, new { @class = "form-control", type = "number", min = "0" })
                    </div>
                    <input id="AddItem" type="button" value="Add Item" class="btn btn-default" />

                </div>
                <div class="table-bordered">
                    <table class="table stepsTable">
                        <tr>
                            <th>
                                @Html.DisplayName("Item Name")
                            </th>
                            <th>
                                @Html.DisplayName("Item Description")
                            </th>
                            <th>
                                @Html.DisplayName("Item Quantity")
                            </th>
                            <th>
                            </th>
                        </tr>
                        @foreach (var addictionalItemToProduct in Model.AdditionaItemsToProduct)
                        {
                            <tr class="table-row" itemId="@addictionalItemToProduct.ID">
                                <td class="itemName">@addictionalItemToProduct.Name</td>
                                <td class="itemDescription">@addictionalItemToProduct.Description</td>
                                <td class="itemQuantity">@addictionalItemToProduct.Quantity</td>
                                <td>
                                    <div class="removeRow btn btn-default">Remove Step</div>
                                </td>
                            </tr>
                        }
                    </table>

                </div>

            </div>

            <div class="panel-footer">
                <div class="col-md-12">
                    <input id="SaveItems" type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        new ReNew.AdditionalItems();
    });
    window.availableItems =@Html.Raw(JsonConvert.SerializeObject(Model.AvailableItems));
    window.additionalItemsToProductViewModel =@Html.Raw(JsonConvert.SerializeObject(Model));
</script>
