﻿@model IEnumerable<ReNew.Models.View_Models.UnitOfMeasuresViewModel>
<a href="@Url.Action("UnitOfMeasuresCreate")">
    <div class="btn btn-default createNew">
        Create New Unit Of Measure
    </div>
</a>
@Html.Partial("_ErrorHandling")
<div class="table-responsive table-bordered">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UnitOfMeasuresEdit", new { id = item.ID }) |

                    @Html.ActionLink("Delete", "UnitOfMeasuresDelete", new { id = item.ID})
                </td>
            </tr>
        }
    </table>
</div>