﻿@using ELearningPlatform.Models.ViewModels
@model PageViewModel

@Scripts.Render("~/PagesManagementScripts")
@Styles.Render("~/PagesManagementStyles")


@Html.Partial("_ErrorHandling")
<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            Page Create Data
            @Html.HiddenFor(m => m.Id)
        </div>
        <div class="panel-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>
                @if (Model.ParentId == 0)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Lectures, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ParentId", Model.Lectures, new { @class = "form-control" })
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.ParentId)
                }
            </div>

        </div>
        <div class="panel-footer">
            <div class="col-md-offset-2 col-nd-12">
                <input type="submit" id="saveEditPage" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

@{
    var pageSection = Model.PageSections.Count != 0 ? Model.PageSections[0] : new PageSectionViewModel();
}
<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            Page Section
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => pageSection.Name, new { @class = "form-control", @id = "sectionName" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Section Content</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(p => pageSection.SectionContent, new { @class = "form-control", @id = "sectionContent" })
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            PagesManagement.init(true);
        });
</script>