﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.PageViewModel>

@Scripts.Render("~/PagesManagementScripts")
@Styles.Render("~/PagesManagementStyles")

<a href="@Url.Action("PagesCreate")">
    <div class="btn btn-default createNew">
        Create New Pages
    </div>
</a>

<table id="pagesTable" class="table table-striped table-bordered dataTable no-footer">
    <thead>
        <tr>
            <th>Name</th>
            <th>Sections</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {
        PagesManagement.init(false,true);
    });
</script>

