﻿@using ELearningPlatform.Models.ViewModels
@model PageViewModel


@Scripts.Render("~/PagesManagementScripts")
@Styles.Render("~/PagesManagementStyles")



@Html.Partial("_ErrorHandling")
<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            Page Create Data
        </div>
        <div class="panel-body">
            <div class="panel-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                @if (Model.ParentId == 0)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Lectures, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ParentId", Model.Lectures, new { @class = "form-control" })
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.ParentId)
                }
            </div>

        </div>
        <div class="panel-footer">
            <div class="col-md-offset-2 col-nd-12">
                <input type="submit" id="savePage" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>

@{
    PageSectionViewModel pageSection = new PageSectionViewModel();
}
<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            Page Section
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => pageSection.Name, new { @class = "form-control", @id = "sectionName" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Section Content</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(p => pageSection.SectionContent, new { @class = "form-control", @id = "sectionContent" })
                </div>
            </div>
        </div>
        @*<div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input id="addSection" type="submit" value="Add Section" class="btn btn-default" />
                </div>
            </div>*@
    </div>
</div>



@*<div class="template" style="display: none">
        <div class="panel panel-default section">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="templateLink" data-toggle="collapse" data-parent="" href="#10">Test</a>
                </h4>
                <div class="removeSection pull-right">Remove Section</div>
            </div>
            <div id="10" class="panel-collapse collapse templateTarget">
                <div class="panel-body">
                    <div class="page-section">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Section Content</label>
                            <div class="col-md-10">
                                @Html.TextArea("SectionContent", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<script type="text/javascript">
    $(document).ready(function () {
        PagesManagement.init(true);
    });
</script>