﻿@model ELearningPlatform.Models.ViewModels.PageViewModel


@foreach (var pageSection in Model.PageSections)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayFor(model => pageSection.Name)
        </div>
        <div class="panel-body">
            @Html.Raw(pageSection.SectionContent)
        </div>
    </div>

}

