﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.AssignmentCategoryViewModel>

<p>
    @Html.ActionLink("Create New", "AssignmentsCategoriesCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "AssignmentsCategoriesEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "AssignmentsCategoriesDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
