﻿@Scripts.Render("~/DepartmentsManagementScripts")
@Styles.Render("~/DepartmentsManagementStyles")


<a href="@Url.Action("DepartmentsCreate")">
    <div class="btn btn-default createNew">
        Create New Department
    </div>
</a>

<table id="departmentsTable" class="table table-striped table-bordered dataTable no-footer" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<script>
    jQuery(document).ready(function () {
        DepartmentsManagement.init();
    });
</script>
