﻿@using Newtonsoft.Json
@model ReNew.Models.View_Models.InstallationStepsToProductViewModel

@Scripts.Render("~/InstallationManagement")

@Html.Partial("_ErrorHandling")
<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            Installation Steps 
        </div>
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProductId)
            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Step", new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownList("Available Steps", new SelectList(Model.AvailableSteps, "Value", "Text"), new {@class = "form-control"})
                </div>
                @Html.Label("Step Order", new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBox("StepOrder", null, new { @class = "form-control", type = "number", min = "0" })
                </div>
                <input id="AddStep" type="button" value="Add Step" class="btn btn-default" />
            </div>
            <div class="table-bordered">
                <table class="table stepsTable">
                    <tr>
                        <th>
                            @Html.DisplayName("Step Name")
                        </th>
                        <th>
                            @Html.DisplayName("Step Description")
                        </th>
                        <th>
                            @Html.DisplayName("Step Order")
                        </th>
                        <th>
                        </th>
                    </tr>
                    @foreach (var installationStepToProductViewModel in Model.InstallationStepToProductViewModels)
                    {
                        var completeStep = @Model.StepsViewModels.FirstOrDefault(x => x.ID == installationStepToProductViewModel.StepId);

                        <tr class="table-row" stepId="@installationStepToProductViewModel.StepId">
                            <td class="stepName">@completeStep.Name</td>
                            <td class="stepDescription">@completeStep.Description</td>
                            <td class="stepOrder">@installationStepToProductViewModel.StepOrder</td>
                            <td>
                                <div class="removeRow btn btn-default">Remove Step</div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-md-12">
                <input id="SaveSteps" type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        new ReNew.InstallationManagement();
    });
    window.stepsViewModel =@Html.Raw(JsonConvert.SerializeObject(Model.StepsViewModels));
    window.stepsToProductViewModel =@Html.Raw(JsonConvert.SerializeObject(Model));
</script>
