﻿.addProductWrapper{
    background-color: blue;
    width: 48%;
    float: left;
    padding-left:5px;

    span {
        text-align: center;
        display: block;
        width: 110px;
        height: 100%;
        margin: 0 auto;
        font-size: 20px;
    }

    input[type="text"], input[type="number"] {
        width: 75%;
    }

    input[type="button"] {
        width: 20%;
        height: 25px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}



label {
    display: inline-block;
    width: 130px;
    text-align: left;
}


#booksTable {
    width: 100%;
    border: 1px solid black;

    th, td {
        border: 1px solid black;
    }

    thead {
        background-color: #a2a2b4;
    }

    .idHeader {
        width: 3%;
    }

    .numberOfPagesHeader {
        width: 8%;
    }

    .titleHeader {
        width: 20%;
    }

    .authorHeader {
        width: 20%;
    }
}

.formRow {
    margin-bottom: 5px;
}

.filterWrapper{
    background-color: darkorange;
    width: 48%;
    display: block;
    float: left;
    margin-top: 5px;
     height: 100%;
    padding-left: 3px;
}