﻿@model ELearningPlatform.Models.ViewModels.EnrolledStudentsToCourseViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Enrolled Students To Courses
            </div>
            <div class="panel-body">
                @Html.HiddenFor(m => m.CourseId)
                <div class="form-group">
                    @Html.LabelFor(model => model.CourseName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.CourseName, new { @class = "form-control col-md-3" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StudentId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("StudentId", Model.Students, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2 col-nd-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            Enrolled Students
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentId)
                    </th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model.EnrolledStudents)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new {id = item.Value,courseId=@Model.CourseId})
                        </td>
                    </tr>
                }

            </table>

        </div>

    </div>
</div>

<script>
    @*$(document).ready(function () {
        debugger;
        var searchEndPoint = '/EnrolledStudentsToCourses/GetStudents?courseId='+@Model.CourseId;
        $("#StudentAutoSearch").autocomplete({
            source: searchEndPoint,
            minLength: 2,
            select: function (event, ui) {
                debugger;
                log(ui.item ?
                  "Selected: " + ui.item.value + " aka " + ui.item.id :
                  "Nothing selected, input was " + this.value);
            },
            response: function(event, ui) {
                debugger;
            }

        });
    });*@
</script>

