﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.EnrolledStudentsToCourseViewModel>

<p>
    @Html.ActionLink("Create New", "EnrolledStudentsToCoursesCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "EnrolledStudentsToCoursesEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "EnrolledStudentsToCoursesDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
