﻿@using ELearningPlatform.Models
@model ELearningPlatform.Models.ViewModels.CourseViewModel

@if (ViewBag.CurrentRole != "Student" && ViewBag.CourseDetailsPage == null)
{
    <a href="@Url.Action("DiscussionsCreate", "DiscussionsManagement", new {parentId = Model.Id, parentType = (int) ParentTypes.Course})" target="_blank">
        <div class="btn btn-default createNew">
            Create New Discussion
        </div>
    </a>
}
<div class="form-horizontal course-discussions">
    @if (ViewBag.CourseDetailsPage == null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @Model.Name
            </div>
            <div class="panel-body">
                @{ var discussions = Model.Discussions; }
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Subject
                        </th>
                        <th>
                            Grade Schema Name
                        </th>
                        <th>
                            Grade Value
                        </th>
                        @if (ViewBag.CurrentRole != "Student")
                        {
                        <th>Actions</th>
                        }
                    </tr>

                    @foreach (var item in @discussions)
                    {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "DiscussionsDetails", "DiscussionsManagement", new {id = item.Id}, new {target = "_blank"})
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SchemaName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SchemaValue)
                        </td>
                        @if (ViewBag.CurrentRole != "Student")
                            {
                        <td>
                            @Html.ActionLink("Edit", "DiscussionsEdit", "DiscussionsManagement", new {id = item.Id}, null) |
                            @Html.ActionLink("Delete", "DiscussionsDelete", "DiscussionsManagement", new {id = item.Id}, null)
                        </td>
                            }
                    </tr>
                    }

                </table>
            </div>
        </div>
                    }
                    else
                    {
                        <table class="table">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Grade Schema Name
                                </th>
                                <th>
                                    Grade Value
                                </th>

                            </tr>

                            @foreach (var item in Model.Discussions)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.Name, "DiscussionsDetails", "DiscussionsManagement", new { id = item.Id }, new { target = "_blank" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SchemaName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SchemaValue)
                                    </td>

                                </tr>
                            }

                        </table>
                    }
</div>
