﻿@model ELearningPlatform.Models.ViewModels.CourseViewModel

<div class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#course-details-pills" data-toggle="tab">Course Details</a>
                </li>
                <li>
                    <a href="#course-announcements-pills" data-toggle="tab">Announcements</a>
                </li>
                <li>
                    <a href="#course-lectures-pills" data-toggle="tab">Lectures</a>
                </li>
                <li>
                    <a href="#course-discussions-pills" data-toggle="tab">Discussion</a>
                </li>
                <li>
                    <a href="#course-syllabus-pills" data-toggle="tab">Syllabus</a>
                </li>
                <li>
                    <a href="#course-tests-pills" data-toggle="tab">Tests</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="course-details-pills">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>

                        <dd>
                            @Html.Label(Model.StartDate.ToShortDateString())
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>

                        <dd>
                            @Html.Label(Model.EndDate.ToShortDateString())
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DepartmentName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DepartmentName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CoordonaterName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CoordonaterName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <div style="margin-top:10px">
                            @Html.Raw(Model.Description)
                        </div>
                    </dl>
                </div>
                <div class="tab-pane fade" id="course-announcements-pills">
                    @{ ViewBag.CourseDetailsPage = true; }
                    @Html.Partial("CoursesAnnouncements", Model)
                </div>

                <div class="tab-pane fade" id="course-lectures-pills">
                    @{ ViewBag.CourseDetailsPage = true; }
                    @Html.Partial("CoursesLectures", Model)
                </div>
                <div class="tab-pane fade" id="course-discussions-pills">
                    @{ ViewBag.CourseDetailsPage = true; }
                    @Html.Partial("CoursesDiscussions", Model)
                </div>
                <div class="tab-pane fade" id="course-syllabus-pills">
                    @Html.Partial("CoursesSyllabus", Model.Syllabus)
                </div>

                <div class="tab-pane fade" id="course-tests-pills">
                    @Html.Partial("CoursesTests", Model)
                </div>
            </div>
        </div>
    </div>
</div>

