﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.SyllabusViewModel>

<div class="course-syllabus">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "SyllabusDetails", "SyllabusManagement", new { id = item.Id }, null)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
            </tr>
        }
    </table>
</div>