﻿@model ELearningPlatform.Models.ViewModels.CourseViewModel


<div class="form-horizontal course-lectures">
    @if (ViewBag.CurrentRole != "Student" && ViewBag.CourseDetailsPage == null)
    {
        <a href="@Url.Action("TestsCreate", "TestsManagement", new {courseId = Model.Id})" target="_blank">
            <div class="btn btn-default createNew">
                Create New Test
            </div>
        </a>
    }
    @if (ViewBag.CourseDetailsPage == null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                Tests
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                    </tr>

                    @foreach (var item in Model.Tests)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name, "TestDetails", "TestsManagement", new { id = item.Id }, new { target = "_blank" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>

            @foreach (var item in Model.Tests)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "TestDetails", "TestsManagement", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>
    }
</div>