﻿@model ELearningPlatform.Models.ViewModels.CourseViewModel

<div class="course-syllabus">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @foreach (var item in Model.Announcements)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "AnnouncementDetails", "AnnouncementsManagement", new { id = item.Id }, new { target = "_blank" })
                </td>
            </tr>
        }
    </table>
</div>