﻿@using ELearningPlatform.Models.ViewModels
@model CourseViewModel


<div class="form-horizontal course-lectures">
    @if (ViewBag.CurrentRole != "Student" && ViewBag.CourseDetailsPage == null)
    {
        <a href="@Url.Action("LecturesCreate", "LecturesManagement", new {courseId = Model.Id})" target="_blank">
            <div class="btn btn-default createNew">
                Create New Lecture
            </div>
        </a>
    }
    @if (ViewBag.CourseDetailsPage == null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                Lectures
            </div>
            <div class="panel-body">
                @foreach (var lecture in Model.Lectures)
                {
                    @Html.Partial("_LectureCollapsable", lecture)
                }
            </div>
        </div>
    }
    else
    {
        foreach (var lecture in Model.Lectures)
        {
            @Html.Partial("_LectureCollapsable", lecture)
        }
    }
</div>
