﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.CourseViewModel>

@Scripts.Render("~/CoursesManagementScripts")

@if (ViewBag.CurrentRole != "Student")
{
    <a href="@Url.Action("CoursesCreate")">
        <div class="btn btn-default createNew">
            Create New Course
        </div>
    </a>
}

<table id="coursesTable" class="table table-striped table-bordered dataTable no-footer" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Department</th>
            <th>Coordonater</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<script>
    jQuery(document).ready(function () {
        Courses.init(true, false);
    });
</script>
