﻿@model IEnumerable<ELearningPlatform.Models.ViewModels.QuestionViewModel>

<p>
    @Html.ActionLink("Create New", "QuestionsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                @Html.ActionLink("Edit", "QuestionsEdit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "QuestionsDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
