﻿@model List<ApprovalModule.Models.ViewModels.UserViewModel>

<a href="@Url.Action("UserCreate")">
    <div class="btn btn-default createNew">
        Create New User
    </div>
</a>
<div class="table-responsive table-bordered">
    <table class="table">
        <tr>
            <th>
               First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UserEdit", new { id = item.Id, @class = "btn btn-default" }) |
                    @Html.ActionLink("Delete", "UserDelete", new { id = item.Id, @class = "btn btn-default" })
                </td>
            </tr>
        }

    </table>
</div>
