﻿@model IEnumerable<ReNew.Models.View_Models.ProductsViewModel>

@if (ViewBag.CurrentRole == "Admin")
{
    <a href="@Url.Action("ProductsCreate")">
        <div class="btn btn-default createNew">
            Create New Product
        </div>
    </a>
}
<div class="table-responsive table-bordered">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitOfMeasure)
            </th>
            <td>
                Price
            </td>
            @if (ViewBag.CurrentRole == "Admin")
            {
                <th>
                    Actions
                </th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitOfMeasure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @if (ViewBag.CurrentRole == "Admin")
                {
                    <td>
                        @Html.ActionLink("Edit", "ProductsEdit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "ProductsDelete", new { id = item.ID }) |
                        @Html.ActionLink("Installation Steps", "AddInstallationStepsToProduct", "InstallationSteps", new RouteValueDictionary(new { id = item.ID }), null) |
                        @Html.ActionLink("Additional Items", "AddAdditionalItemsToProduct", "AdditionalItems", new RouteValueDictionary(new { id = item.ID }), null)
                    </td>
                }
            </tr>
        }

    </table>
</div>