﻿@model ReNew.Models.View_Models.ProductsViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ErrorHandling")
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product Edit
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Color, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Color, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new {htmlAttributes = new {@class = "form-control", type = "number", min = "0" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Unit Of Measure</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.UnitOfMeasureID, new SelectList(Model.UnitOfMeasureSelectListItems, "Value", "Text"), new {@class = "form-control"})
                    </div>
                </div>
            </div>


            <div class="panel-footer">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Save" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </div>
            }

