﻿@model IEnumerable<ReNew.Models.View_Models.StepsViewModel>

<a href="@Url.Action("StepsCreate")">
    <div class="btn btn-default createNew">
        Create New Step
    </div>
</a>
@Html.Partial("_ErrorHandling")
<div class="table-responsive table-bordered">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "StepsEdit", new { id = item.ID, @class = "btn btn-default" }) |
                    @Html.ActionLink("Delete", "StepsDelete", new { id = item.ID, @class = "btn btn-default" })
                </td>
            </tr>
        }

    </table>
</div>