html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}
header {
  position: fixed;
  z-index: 99;
  background-color: white;
}
.leftContent {
  width: 60%;
  margin-right: 0;
  display: inline-block;
  float: left;
  margin-top: 120px;
}
.leftContent .inner-content {
  margin-left: 125px;
  margin-right: 10px;
  height: 105px;
  display: none;
}
.leftContent .inner-content article {
  border-bottom: 1px solid grey;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
}
.leftContent .inner-content article section {
  float: right;
  position: relative;
  width: 83%;
  padding-bottom: 15px;
}
.leftContent .inner-content article section h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.leftContent .inner-content article section span {
  font-size: medium;
}
.leftContent .inner-content:first-child {
  background-color: blue;
}
.leftContent a:hover + .inner-content {
  display: inline-block;
  /*background-color: red;*/
}
.left-column-nav {
  list-style-type: none;
}
.nav-filter {
  color: #1d1da3;
  margin-bottom: 2px;
  font-size: medium;
}
.rightContent {
  float: right;
  width: 35%;
  position: relative;
  border: 1px solid grey;
  top: 120px;
}
nav {
  background-color: #2d1152;
  font-size: medium;
  padding-left: 7px;
  height: 23px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 22.1px;
  text-align: start;
  white-space: nowrap;
  width: 100vw;
}
nav span {
  margin-right: 10px;
}
nav span:hover {
  background-color: red;
  content: "links";
}
main {
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
  top: 100px;
}
/*.centerContent, .inner-content {
    margin-top: 75px;
    margin: 5px 0;
    position: relative;
    display: inline-block;
    width: 48%;
    margin-left: 10px;
    margin-right: 10px;
    top: 120px;

    article {
        border-bottom: 1px solid grey;
        float: right;
        padding-top: 10px;
        padding-left: 10px;

        section {
            float: right;
            position: relative;
            width: 83%;
            padding-bottom: 15px;

            h4 {
                margin-top: 0px;
                margin-bottom: 5px;
            }

            span {
                font-size: medium;
            }
        }
    }
}*/
.search-wrapper {
  height: 50px;
  border-bottom: 1px solid blue;
}
.search-wrapper a {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 30%;
}
.search-wrapper input {
  float: left;
  margin-right: 20px;
  width: 340px;
  margin-top: 10px;
}
.search-wrapper button {
  margin-top: 10px;
  background-color: blue;
}
.leftMenu {
  display: flex;
}
.leftMenu .inner-content {
  display: none;
}
